<h1>Say#hello</h1>
<p>
  Today is: <%= @date %>
</p>
<p>
  Hello! It is now <%= @time %>
</p>

<p>Find me in app/views/say/hello.html.erb</p>
<p>
  <%= link_to "Goodbye", say_goodbye_path %>
  <%= link_to "Antonio", say_antonio_path %>
</p>
